#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /*padding: 2rem;*/
  text-align: center;
}

.App {
  /* max-width: 800px; */
  margin: 0 auto;
  /*min-width: 100vw;
  min-height: 100vh;*/
}

h1 {
  font-size: 3em;
  line-height: 1.1;
}

h2 {
  margin-top: 2rem;
}

p {
  margin: 0.5rem 0;
}
.landing-nav-item {
  font-weight: 1000;
}
.landing-join-button {
  font-family: "SF Pro Display";
  font-weight: 700;
}
login-button:hover {
  transform: translateY(-200px);
}
